body{
    text-align: center;
}
.profile{
    width:175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome{

    color:aqua;
    left:0;
    right:0;
    top:0;
bottom:0;
    background-color: blueviolet;
    display:table;
    width:100%;
    height:100%;
    z-index: 9;
}

html{
    scroll-behavior: auto;
}
#name{
    font-size:50px;
    line-height: 1.2;
    font-family: 'Redressed', cursive;
    color: cornsilk;
}
.line{
    height:6px;
    background-color: burlywood;
    width:70px;
margin:8px auto;
    }
a{
    text-decoration:none;
    color:chocolate;
    text-shadow: 2px 2px red;
    }
.article:hover{
    color:aqua;
}
#writings{
    text-shadow: none;
    text-decoration :underline;
    color:cadetblue;
}

.Contact_1 a{
    color:brown;
    text-shadow: none;
}
#contact{
    background:azure;
}
.Contact_1 h3{
    display: inline;
}